<div>
    <h1>Inyeccion de cooKies</h1>
    <form id="cookieForm">
        <label>Nombre</label>
        <input name="nombre">
        <label>Correo</label>
        <input name="correo">
        <input type="submit">
    </form>
    <button onclick="getCookie()">Obtener cookie</button>
</div>

<script src="/js/index.js"></script>